@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bg-grid-pattern {
  background-image: 
    linear-gradient(rgba(255,255,255,0.08) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255,255,255,0.08) 1px, transparent 1px);
  background-size: 40px 40px;
}

body {
  font-family: "Delius", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 8000;
  font-style: normal;
  
}

.delius-regular {
  font-family: "Delius", cursive;
  font-weight: 1200;
  font-style: italic;
  color: black;

}

html {
  scroll-behavior: smooth;
}
